.App {
  text-align: center;
}


ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #333;
  position: fixed;
  overflow: hidden;
  text-decoration: none;
}

li{
  display: block;
  width: 60px;
  color: #e4dfe8;
  padding: 30px 43px;
  border: 1px solid #555;
}

.alta{
  width: 20%;
}

input, select{
  width: 20%;
  margin: 5px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}

.CrearOkr{
  float: left;
}

.CrearRc{
  float: left;
}

.ConOkr{
  border: 1px solid #555;
}

.ConRc{
  border: 1px solid #555;
}

.posicion{
  float: left;
  border: 1px solid #555;
  width: 100px;
  height: 25px;
  margin: 2%;
}
.despliegue{
  margin-left: 11%;
  padding: 1px 12px;
  border: 1px solid #555;
  height: 2000px
}

.nombre{
  width: 9%;
}

.equipo{
  width: 10%;
}

.prioridad{
  width: 10%;
}

.progreso{
  width: 20%;
}

.Elimina{
  width: 12%;
}

.Edita{
  width: 12%;
}